body{
    background-color: #f4f1de;
    font-family: 'Roboto';
}
a{
    text-decoration: none; /* para sacar el subrayado de la url*/
    color: #000000;
}
h1{
    font-size: 30px;
    margin: 5px 0px;
    padding:  5px;
}
.menu{
    height: 60px;
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    background-color: #b1b5c8;
    margin: 5px 0px;
    padding: 0px;
    justify-content: space-between;
}
/* .menu nav{
    margin: 70px 0px; 
}*/
.menu  nav li{
    display: inline-block;
    padding: 0px 10px;
}
.menu nav li a{
    padding: 10px; 
    font-size: 15px; 
}
.menu nav li a:hover{ /*al tocar se pone blanco*/
    color: white;
}
.guayerdbikes-logo{
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #000000;
}
table{
    border:1px solid black;
    border-collapse: collapse;
}
table td, th{
    border:1px solid black; 
    padding: 5px; 
}
table tr:hover{
    background: #cccccc; /*para que el usuario lo vea mejor*/
}
.mapa{
    display: flex;
    justify-content: center;
}
.formulario{
    display: flex;
    justify-content: center;
    line-height: 50px;
}
input, textarea{
    box-sizing: border-box;
}
/*
.color{
    background-color: #bfd5e2; 
    width: 30%;
    padding: 10px;
}
*/
.biciu{
    width: 290px;
    padding: 2%;
}
.productp{
    display: flex;
    background-color: #bfd5e2;
    width: 95% ;
    height: 300px ;
    border: 1px solid gray;
    flex-direction: row;
    margin: 30px 0px;
}
.productp h3{
    text-align: center
}
.productp p{
    margin: 0% 5%;
    display: flex;
    text-align: start;
    font-size: 20px;
}
.bicid{
    width: 290px;
    padding: 2%;
}
.products{
    display: flex;
    background-color: #bfd5e2;
    width: 95% ;
    height: 300px ;
    border: 1px solid gray;
    flex-direction: row;
    margin: 30px 0px;
}
.products h3{    
    text-align: center
}
.products p{
    margin: 0% 5%;
    display: flex;
    text-align: start;
    font-size: 20px;
}
.bicit{
    width: 290px;
    padding: 2%;
}
.productt{
    display: flex;
    background-color: #bfd5e2;
    width: 95% ;
    height: 300px ;
    border: 1px solid gray;
    flex-direction: row;
    margin: 30px 0px;
}
.productt h3{
    text-align: center;

}
.productt p{
    margin: 0% 5%;
    display: flex;
    text-align: start;
    font-size: 20px;
}

